In [127]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import xlwings

In [128]:
print('Input the date in format: YYYYMMDD')
File_Date=str(input())
File_name=File_Date+'.xls'
print(File_name)

Input the date in format: YYYYMMDD
20221031.xls

In [129]:
Volume_Origianl = pd.read_csv(File_name)
#Volume_Origianl = pd.read_csv("20220808.xls")
#'encoding='latin-1''
Volume_Origianl.head()
Volume_Origianl=Volume_Origianl.reset_index()
Volume_Origianl = Volume_Origianl.drop(Volume_Origianl.columns[2],axis = 1)
Volume_Origianl

,index,Feed DateTime,Sorting Result,Mail Piece Length,Mail Piece Width,Mail Piece Height,Equipment ID
0,2022-10-23 07:01:38,5092EGX123102453783495752300000,610,365,226,1260,NaN
1,2022-10-23 07:01:57,5092EGX123102453783505452800000,480,420,386,1260,NaN
2,2022-10-23 07:02:08,5092EGX123102453783495652600000,595,530,348,1260,NaN
3,2022-10-23 07:02:23,5092SCR000102453783515052700000,585,525,346,1260,NaN
4,2022-10-23 07:02:33,5092SCR000102453783532452200000,555,330,318,1260,NaN
...,...,...,...,...,...,...,...
182955,2022-10-29 14:39:24,5092LTA423102303836003034200000,380,355,78,1264,NaN
182956,2022-10-29 14:39:30,5092NHK926102303836003259900000,375,360,58,1264,NaN
182957,2022-10-29 14:39:39,5092LTN106102303836009690400000,340,295,92,1264,NaN
182958,2022-10-29 14:39:46,SYN126420221029013435,335,285,112,1264,NaN
182959,2022-10-29 14:39:48,5092LCC638102303835956646300000,240,180,194,1264,NaN

In [130]:
df = pd.DataFrame(columns=['DateTime','ID','Length','Width','Height','Equipment_ID','FSALDU','Service','Barcode_Type','FSA','Destination','FeedDate','FeedTime','Maxlength','Hour','Volume','Size','Shift','Fine_Dest'])
# For 'DateTime','ID','Length','Width','Height','Equipment_ID'
for i in range(6):
 df[df.columns[i]]=Volume_Origianl.iloc[:,i]

df

,DateTime,ID,Length,Width,Height,Equipment_ID,FSALDU,Service,Barcode_Type,FSA,Destination,FeedDate,FeedTime,Maxlength,Hour,Volume,Size,Shift,Fine_Dest
0,2022-10-23 07:01:38,5092EGX123102453783495752300000,610,365,226,1260,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-10-23 07:01:57,5092EGX123102453783505452800000,480,420,386,1260,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-10-23 07:02:08,5092EGX123102453783495652600000,595,530,348,1260,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-10-23 07:02:23,5092SCR000102453783515052700000,585,525,346,1260,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-10-23 07:02:33,5092SCR000102453783532452200000,555,330,318,1260,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182955,2022-10-29 14:39:24,5092LTA423102303836003034200000,380,355,78,1264,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182956,2022-10-29 14:39:30,5092NHK926102303836003259900000,375,360,58,1264,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182957,2022-10-29 14:39:39,5092LTN106102303836009690400000,340,295,92,1264,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182958,2022-10-29 14:39:46,SYN126420221029013435,335,285,112,1264,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182959,2022-10-29 14:39:48,5092LCC638102303835956646300000,240,180,194,1264,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [145]:
for x in df.itertuples():
 if len(x.ID)>16 and len(x.ID)<22:
    df.at[x.Index,'Barcode_Type']== 'SYN'
 elif len(x.ID)==16:
    df.at[x.Index,'Barcode_Type']='292'
 elif len(x.ID)>22:
    df.at[x.Index,'Barcode_Type']='NGB'
for x in df.itertuples():    
 if x.Barcode_Type=='NGB':
    df.at[x.Index,'FSALDU']=x.ID[4]+x.ID[7]+x.ID[5]+x.ID[8]+x.ID[6]+x.ID[9]

df['FSA']=df['FSALDU'].str.slice(stop=3)
df

,DateTime,ID,Length,Width,Height,Equipment_ID,FSALDU,Service,Barcode_Type,FSA,Destination,FeedDate,FeedTime,Maxlength,Hour,Volume,Size,Shift,Fine_Dest
0,2022-10-23 07:01:38,5092EGX123102453783495752300000,610,365,226,CUBI1,E1G2X3,2,NGB,E1G,Moncton,2022-10-23,07:01:38,24.015748,7,3071,"24-36""",2,NaN
1,2022-10-23 07:01:57,5092EGX123102453783505452800000,480,420,386,CUBI1,E1G2X3,2,NGB,E1G,Moncton,2022-10-23,07:01:57,18.897638,7,4749,"12-24""",2,NaN
2,2022-10-23 07:02:08,5092EGX123102453783495652600000,595,530,348,CUBI1,E1G2X3,2,NGB,E1G,Moncton,2022-10-23,07:02:08,23.425197,7,6697,"12-24""",2,NaN
3,2022-10-23 07:02:23,5092SCR000102453783515052700000,585,525,346,CUBI1,S0C0R0,2,NGB,S0C,WpgReg,2022-10-23,07:02:23,23.031496,7,6485,"12-24""",2,NaN
4,2022-10-23 07:02:33,5092SCR000102453783532452200000,555,330,318,CUBI1,S0C0R0,2,NGB,S0C,WpgReg,2022-10-23,07:02:33,21.850394,7,3554,"12-24""",2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182955,2022-10-29 14:39:24,5092LTA423102303836003034200000,380,355,78,CUBI5,L4T2A3,2,NGB,L4T,WPDH,2022-10-29,14:39:24,14.96063,14,642,"12-24""",2,WPDH
182956,2022-10-29 14:39:30,5092NHK926102303836003259900000,375,360,58,CUBI5,N9H2K6,2,NGB,N9H,London City and Windsor,2022-10-29,14:39:30,14.76378,14,478,"12-24""",2,London City and Windsor
182957,2022-10-29 14:39:39,5092LTN106102303836009690400000,340,295,92,CUBI5,L1T0N6,2,NGB,L1T,YDC,2022-10-29,14:39:39,13.385827,14,563,"12-24""",2,YDC
182958,2022-10-29 14:39:46,SYN126420221029013435,335,285,112,CUBI5,NaN,NaN,NaN,NaN,NaN,2022-10-29,14:39:46,13.188976,14,653,"12-24""",2,NaN
182959,2022-10-29 14:39:48,5092LCC638102303835956646300000,240,180,194,CUBI5,L6C3C8,2,NGB,L6C,YDC,2022-10-29,14:39:48,9.448819,14,511,"0-12""",2,YDC

In [110]:
df.to_csv('FSA.csv',columns=['FSA'])
#f=open('FSA.csv','r')

In [132]:
import openpyxl

with pd.ExcelWriter('Destination.xlsx', mode='a',if_sheet_exists='replace') as writer:  
 df.to_excel(writer, sheet_name='FSA',columns=['FSA'])

In [133]:
excel_app = xlwings.App(visible=False)
excel_book = excel_app.books.open('Destination.xlsx')
excel_book.save()
excel_book.close()
excel_app.quit()

In [137]:
df2 = pd.read_excel('Destination.xlsx', sheet_name=2, nrows=len(Volume_Origianl))
df2

                           Dest
0                       Moncton
1                       Moncton
2                       Moncton
3                        WpgReg
4                        WpgReg
...                         ...
182955                     WPDH
182956  London City and Windsor
182957                      YDC
182958                      NaN
182959                      YDC

[182960 rows x 1 columns]

In [138]:
df['Destination']=df2['Dest']
df

,DateTime,ID,Length,Width,Height,Equipment_ID,FSALDU,Service,Barcode_Type,FSA,Destination,FeedDate,FeedTime,Maxlength,Hour,Volume,Size,Shift,Fine_Dest
0,2022-10-23 07:01:38,5092EGX123102453783495752300000,610,365,226,1260,E1G2X3,NaN,NGB,E1G,Moncton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-10-23 07:01:57,5092EGX123102453783505452800000,480,420,386,1260,E1G2X3,NaN,NGB,E1G,Moncton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-10-23 07:02:08,5092EGX123102453783495652600000,595,530,348,1260,E1G2X3,NaN,NGB,E1G,Moncton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-10-23 07:02:23,5092SCR000102453783515052700000,585,525,346,1260,S0C0R0,NaN,NGB,S0C,WpgReg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-10-23 07:02:33,5092SCR000102453783532452200000,555,330,318,1260,S0C0R0,NaN,NGB,S0C,WpgReg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182955,2022-10-29 14:39:24,5092LTA423102303836003034200000,380,355,78,1264,L4T2A3,NaN,NGB,L4T,WPDH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182956,2022-10-29 14:39:30,5092NHK926102303836003259900000,375,360,58,1264,N9H2K6,NaN,NGB,N9H,London City and Windsor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182957,2022-10-29 14:39:39,5092LTN106102303836009690400000,340,295,92,1264,L1T0N6,NaN,NGB,L1T,YDC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182958,2022-10-29 14:39:46,SYN126420221029013435,335,285,112,1264,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182959,2022-10-29 14:39:48,5092LCC638102303835956646300000,240,180,194,1264,L6C3C8,NaN,NGB,L6C,YDC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [139]:
# Finer destination
df3 = pd.read_csv('Fine_Dest.csv',nrows=df.shape[0])
# Finer destination-Service
df4=df3.iloc[0: 14 ,0: 5]
df4=df4.set_index('Dest')
# Finer destination-FSALDU 
df5=df3.iloc[0: 18 ,7: 9]
df5 = df5.set_index('Postal_Code')

In [140]:
df['FeedDate']=df['DateTime'].str.slice(stop=10)
df['FeedTime']=df['DateTime'].str.slice(start=-8)
df['Hour']=df['FeedTime'].str.slice(start=0,stop=2)
df['Volume']=round(df['Length']*df['Width']*df['Height']/16387.064)
df=df.astype({'Hour':int,'Length':int,'Width':int,'Height':int,'Volume':int,'Size':str})

In [141]:
for x in df.itertuples():
# For service type
 if x.Barcode_Type=='292':
    df.at[x.Index,'Service']=x.ID[3]
 if x.Barcode_Type=='NGB':
    df.at[x.Index,'Service']=x.ID[3]
# For Shift
 if x.Hour>6 and x.Hour<15:
    df.at[x.Index,'Shift']=2
 elif x.Hour>=15 and x.Hour<23:
    df.at[x.Index,'Shift']=3
 else:
    df.at[x.Index,'Shift']=1
# For Maxlength
 if x.Length>x.Width and x.Length>x.Height:
    df.at[x.Index,'Maxlength']=x.Length/25.4
 elif x.Width>x.Height:
    df.at[x.Index,'Maxlength']=x.Width/25.4
 else:
    df.at[x.Index,'Maxlength']=x.Height/25.4
# For destination
 if x.Destination in df4.index:
   if x.Service=='P':
        df.at[x.Index,'Fine_Dest']=df4.loc[x.Destination,str(x.Service)] 
   elif (x.Service=='1') | (x.Service=='2') |(x.Service=='3'):
        df.at[x.Index,'Fine_Dest']=df4.loc[x.Destination,str(x.Service)]
 elif x.FSALDU in df5.index:
      df.at[x.Index,'Fine_Dest']=df5.loc[x.FSALDU,['Dest2']]
 else:  
      df.at[x.Index,'Fine_Dest']=x.Destination
# For size
for x in df.itertuples():
 if x.Maxlength==0:
  df.at[x.Index,'Size']='No Data'
 if x.Maxlength>0 and x.Maxlength<=12:
  df.at[x.Index,'Size']='0-12"'
 if x.Maxlength>12 and x.Maxlength<=24:
  df.at[x.Index,'Size']='12-24"'
 if x.Maxlength>24 and x.Maxlength<=36:
  df.at[x.Index,'Size']='24-36"'
 if x.Maxlength>36:
  df.at[x.Index,'Size']='>36"'
df

,DateTime,ID,Length,Width,Height,Equipment_ID,FSALDU,Service,Barcode_Type,FSA,Destination,FeedDate,FeedTime,Maxlength,Hour,Volume,Size,Shift,Fine_Dest
0,2022-10-23 07:01:38,5092EGX123102453783495752300000,610,365,226,1260,E1G2X3,2,NGB,E1G,Moncton,2022-10-23,07:01:38,24.015748,7,3071,"24-36""",2,NaN
1,2022-10-23 07:01:57,5092EGX123102453783505452800000,480,420,386,1260,E1G2X3,2,NGB,E1G,Moncton,2022-10-23,07:01:57,18.897638,7,4749,"12-24""",2,NaN
2,2022-10-23 07:02:08,5092EGX123102453783495652600000,595,530,348,1260,E1G2X3,2,NGB,E1G,Moncton,2022-10-23,07:02:08,23.425197,7,6697,"12-24""",2,NaN
3,2022-10-23 07:02:23,5092SCR000102453783515052700000,585,525,346,1260,S0C0R0,2,NGB,S0C,WpgReg,2022-10-23,07:02:23,23.031496,7,6485,"12-24""",2,NaN
4,2022-10-23 07:02:33,5092SCR000102453783532452200000,555,330,318,1260,S0C0R0,2,NGB,S0C,WpgReg,2022-10-23,07:02:33,21.850394,7,3554,"12-24""",2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182955,2022-10-29 14:39:24,5092LTA423102303836003034200000,380,355,78,1264,L4T2A3,2,NGB,L4T,WPDH,2022-10-29,14:39:24,14.96063,14,642,"12-24""",2,WPDH
182956,2022-10-29 14:39:30,5092NHK926102303836003259900000,375,360,58,1264,N9H2K6,2,NGB,N9H,London City and Windsor,2022-10-29,14:39:30,14.76378,14,478,"12-24""",2,London City and Windsor
182957,2022-10-29 14:39:39,5092LTN106102303836009690400000,340,295,92,1264,L1T0N6,2,NGB,L1T,YDC,2022-10-29,14:39:39,13.385827,14,563,"12-24""",2,YDC
182958,2022-10-29 14:39:46,SYN126420221029013435,335,285,112,1264,NaN,NaN,NaN,NaN,NaN,2022-10-29,14:39:46,13.188976,14,653,"12-24""",2,NaN
182959,2022-10-29 14:39:48,5092LCC638102303835956646300000,240,180,194,1264,L6C3C8,2,NGB,L6C,YDC,2022-10-29,14:39:48,9.448819,14,511,"0-12""",2,YDC

In [142]:

df['Equipment_ID'] = df['Equipment_ID'].replace([1260],'CUBI1')
df['Equipment_ID'] = df['Equipment_ID'].replace([1261],'CUBI3')
df['Equipment_ID'] = df['Equipment_ID'].replace([1262],'CUBI2')
df['Equipment_ID'] = df['Equipment_ID'].replace([1263],'CUBI4')
df['Equipment_ID'] = df['Equipment_ID'].replace([1264],'CUBI5')
df

,DateTime,ID,Length,Width,Height,Equipment_ID,FSALDU,Service,Barcode_Type,FSA,Destination,FeedDate,FeedTime,Maxlength,Hour,Volume,Size,Shift,Fine_Dest
0,2022-10-23 07:01:38,5092EGX123102453783495752300000,610,365,226,CUBI1,E1G2X3,2,NGB,E1G,Moncton,2022-10-23,07:01:38,24.015748,7,3071,"24-36""",2,NaN
1,2022-10-23 07:01:57,5092EGX123102453783505452800000,480,420,386,CUBI1,E1G2X3,2,NGB,E1G,Moncton,2022-10-23,07:01:57,18.897638,7,4749,"12-24""",2,NaN
2,2022-10-23 07:02:08,5092EGX123102453783495652600000,595,530,348,CUBI1,E1G2X3,2,NGB,E1G,Moncton,2022-10-23,07:02:08,23.425197,7,6697,"12-24""",2,NaN
3,2022-10-23 07:02:23,5092SCR000102453783515052700000,585,525,346,CUBI1,S0C0R0,2,NGB,S0C,WpgReg,2022-10-23,07:02:23,23.031496,7,6485,"12-24""",2,NaN
4,2022-10-23 07:02:33,5092SCR000102453783532452200000,555,330,318,CUBI1,S0C0R0,2,NGB,S0C,WpgReg,2022-10-23,07:02:33,21.850394,7,3554,"12-24""",2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182955,2022-10-29 14:39:24,5092LTA423102303836003034200000,380,355,78,CUBI5,L4T2A3,2,NGB,L4T,WPDH,2022-10-29,14:39:24,14.96063,14,642,"12-24""",2,WPDH
182956,2022-10-29 14:39:30,5092NHK926102303836003259900000,375,360,58,CUBI5,N9H2K6,2,NGB,N9H,London City and Windsor,2022-10-29,14:39:30,14.76378,14,478,"12-24""",2,London City and Windsor
182957,2022-10-29 14:39:39,5092LTN106102303836009690400000,340,295,92,CUBI5,L1T0N6,2,NGB,L1T,YDC,2022-10-29,14:39:39,13.385827,14,563,"12-24""",2,YDC
182958,2022-10-29 14:39:46,SYN126420221029013435,335,285,112,CUBI5,NaN,NaN,NaN,NaN,NaN,2022-10-29,14:39:46,13.188976,14,653,"12-24""",2,NaN
182959,2022-10-29 14:39:48,5092LCC638102303835956646300000,240,180,194,CUBI5,L6C3C8,2,NGB,L6C,YDC,2022-10-29,14:39:48,9.448819,14,511,"0-12""",2,YDC

In [143]:
df.isnull().sum()

DateTime            0
ID                  0
Length              0
Width               0
Height              0
Equipment_ID        0
FSALDU          53746
Service         25692
Barcode_Type    25692
FSA             53746
Destination     53746
FeedDate            0
FeedTime            0
Maxlength           0
Hour                0
Volume              0
Size                0
Shift               0
Fine_Dest       85865
dtype: int64

In [144]:
df.to_csv('Daily_report_Python.csv')

#For Barcode Type
for x in range(df.shape[0]):
 if len(df.loc[x]['ID'])>16 and len(df.loc[x]['ID'])<22:
    df.at[x,'Barcode_Type']='SYN'
 if len(df.loc[x]['ID'])==16:
    df.at[x,'Barcode_Type']='292'
 if len(df.loc[x]['ID'])>22:
    df.at[x,'Barcode_Type']='NGB'
########
 if df.loc[x]['Barcode_Type']=='NGB':
    df.at[x,'FSALDU']=df.loc[x]['ID'][4]+df.loc[x]['ID'][7]+df.loc[x]['ID'][5]+df.loc[x]['ID'][8]+df.loc[x]['ID'][6]+df.loc[x]['ID'][9]
########    
 if df.loc[x]['Barcode_Type']=='292':
    df.at[x,'Service']=df.loc[x]['ID'][3]
 if df.loc[x]['Barcode_Type']=='NGB':
    df.at[x,'Service']=df.loc[x]['ID'][3]
########
 if df.loc[x]['Hour']>6 and df.loc[x]['Hour']<15:
    df.at[x,'Shift']=2
 elif df.loc[x]['Hour']>=15 and df.loc[x]['Hour']<23:
    df.at[x,'Shift']=3
 else:
    df.at[x,'Shift']=1
#############
 if df.loc[x]['Length']>df.loc[x]['Width'] and df.loc[x]['Length']>df.loc[x]['Height']:
    df.at[x,'Maxlength']=df.loc[x]['Length']/25.4
 elif df.loc[x]['Width']>df.loc[x]['Height']:
    df.at[x,'Maxlength']=df.loc[x]['Width']/25.4
 else:
    df.at[x,'Maxlength']=df.loc[x]['Height']/25.4
############
 if df.loc[x]['Maxlength']==0:
  df.at[x,'Size']='No Data'
 if df.loc[x]['Maxlength']>0 and df.loc[x]['Maxlength']<=12:
  df.at[x,'Size']='0-12"'
 if df.loc[x]['Maxlength']>12 and df.loc[x]['Maxlength']<=24:
  df.at[x,'Size']='12-24"'
 if df.loc[x]['Maxlength']>24 and df.loc[x]['Maxlength']<=36:
  df.at[x,'Size']='24-36"'
 if df.loc[x]['Maxlength']>36:
  df.at[x,'Size']='>36"'
###########
 if df.iloc[x]['Destination'] in df3.index:
   if df.iloc[x]['Service']=='P':
        df.at[x,'Fine_Dest']=df3.loc[df.iloc[x]['Destination'],str(df.iloc[x]['Service'])] 
   elif (df.iloc[x]['Service']=='1') | (df.iloc[x]['Service']=='2') |(df.iloc[x]['Service']=='3'):
        df.at[x,'Fine_Dest']=df3.loc[df.iloc[x]['Destination'],int(df.iloc[x]['Service'])]
 elif df.iloc[x]['FSALDU'] in df4.index:
      df.at[x,'Fine_Dest']=df4.loc[df.iloc[x]['FSALDU'],['Dest2']]
 else:  
      df.at[x,'Fine_Dest']=df.iloc[x]['Destination']

In [6]:
A=[1,2,3,4]
B=1
for C in range(len(A)):
 B=B*A[C]
B

24

In [7]:

for C in range(len(A)):
 D=B/A[C]
 print(D)

24.0
12.0
8.0
6.0